*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
.All{
	width: 800px;
	font-family: "黑体";
	margin: 50px auto;
}
#titles{
	font-weight: bold;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	background:#FF9F3;
	text-align: center;
	border: 1px solid #CCC;
}
.low{
	font-size:20px;
	color: midnightblue;
	margin-left: 20px;
	font-family: "宋体";
}
#contents{
	margin-top: 20px;
	background: #FF9F3;
	border: 1px solid #CCC;
}
#form-itemGroup{
	padding: 10px;
}
#form-itemGroup label{
	display: inline-block;
	width: 100px;
	height: 35px;
	line-height: 35px;
	color: #666;
	text-align: right;
}
#form-itemGroup .userName{
	width: 200px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #CCC
}
#form-itemGroup .default{
	width: 200px;
	height: 35px;
	line-height: 35px;
	color: #999;
}
#form-itemGroup .error{
	height: 35px;
	line-height: 35px;
	color: #F00;
}
#form-itemGroup .success{
	height: 35px;
	line-height: 35px;
	color: #096;
}
.divBtn{
	margin-top: 20px;
	margin-left: 200px;
	width: 100px;
	height: 35px;
	line-height: 35px;
	background-color: #F93;
	margin-bottom: 10px;
	color: #ffffff;
	font-weight: bold;
	border: none;
}