*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.All{
	margin-top: 50px;
	margin-left: 34%;
}
#myInput{
	background-image: url('https://static.runoob.com/images/mix/searchicon.png');
	background-position: 10px 14px;
	background-repeat: no-repeat;
	width: 40%;
	font-size: 20px;
	padding: 12px 20px 12px 40px;
}
.searchlist{
	margin-top: 10px;
}
.searchlist li a{
	border:1px solid #dddddd;
	margin-top: -1px;
	background-color: #f6f6f6;
	padding: 12px;
	width: 44.7%;
	font-size: 16px;
	color: black;
	display: block;
}
.searchlist li a.top{
	background-color: #e2e2e2;
	cursor: default;
	font-size: 18px;
	color: steelblue;
}
.searchlist li a:top:not(.header){
	background-color: #eeeeee;
}
